name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create .env file
        run: |
          echo "NOTION_TOKEN=${{ secrets.NOTION_TOKEN }}" >> .env

      - name: Setup Swift
        uses: swift-actions/setup-swift@v2

      - name: Resolve Dependencies
        run: swift package resolve

      - name: Build
        run: swift build

      - name: Run Tests
        run: swift test
        