name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Swift
        uses: fwal/setup-swift@v1
        with:
          swift-version: '5.9'

      - name: Resolve Dependencies
        run: swift package resolve

      - name: Build
        run: swift build

      - name: Run Tests
        run: swift test