name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - uses: swift-actions/setup-swift@v2
      - name: Get swift version
        run: swift --version

      - name: Resolve Dependencies
        run: swift package resolve

      - name: Build
        run: swift build

      - name: Run Tests
        run: swift test